.bg_overlay {
    width: 100%;
    height: 600px;
    position: absolute;
    z-index: -99;
}

.imgobj {
    position: absolute;
    width: 600px;
    height: 600px;
    display: block;
    margin: 0 auto;
    left: 0;
    right: 0;
}

.c {
    position: absolute;
    display: block;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 650px;
}
