@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');

.container {
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero_text {
    font-family: 'Outfit';
    color: white;
    text-align: center;
    width: 100%;
}

.head {
    font-size: 40px;
    opacity: 0.6;
}
.head_mid {
    font-size: 100px;
}

.head_btm {
    font-size: 40px;
    color: #7D3FFF;
}

.head, 
.head_mid, 
.head_btm {
    margin: 0;
    padding: 0;
}

.arrow {
    display: block;
    margin: -10px auto;
}