.container {
    width: 100%;
    height: 1600px;
    position: relative;
}

.header {
    color: white;
    text-align: center;
    font-family: 'Outfit';
    font-weight: 400;
    font-size: 60px;
}

.text,
.imgOverlay {
    position: absolute;
    width: 100%;
    height: 1600px;
}

.imgOverlay img {
    position: absolute;
    z-index: -1;
}

.imgOne {
    left: -250px;
    width: 1250px;
}

.imgTwo {
    width: 250px;
    right: 0;
    filter: blur(2px);
}

.text h1 {
    font-family: 'Outfit';
    font-weight: 700;
    font-size: 400px;
    margin: 0;
    padding: 0;
    text-align: center;
    color: white;
    opacity: 0.05;
}